* {
  font-family: sans-serif;
}
#navbarSupportedContent {
  flex-grow: 0;
}
.feature {
  display: inline-block;
  width: 64px;
  height: 64px;
  font-size: 32px;
  line-height: 64px;
  border-radius: 5px;
}
header .container h1 {
  font-size: 3rem;
  font-weight: 700;
}
header .container p {
  font-size: 1.5rem;
  font-weight: 400;
}
.card-body h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-body p {
  font-size: 1rem;
  font-weight: 400;
}
.card {
  padding-bottom: 20px;
}

.LIST .container {
  max-width: 1200px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbar {
  background-color: rgb(33, 37, 41) !important;
}
.navbar .container {
  max-width: 1320px;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
